* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-family: monospace;


}

html {
    height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    flex: 1;
}

#content {
    display: flex;
    flex-flow: column;
    flex: 1;

}

#calc-body {
    background-color: orange;
    border: 15px outset orange;
    outline: 1px solid black;
    outline-offset: -15px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column;
    gap: 15px;
    margin: 100px 700px;
    padding: 20px;

}

#calc-output {
    display: flex;
    flex-flow: column;
    /* justify-content:space-between; */
    /* align-items: flex-end; */
    background-color: lightblue;
    border: 3px inset black;
    border-radius: 10px;
    font-size: 48px;
    text-align:right;
    height: 128px;
}

#calc-output > *{
    /* border: 1px solid blue; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1
}

#calc-output-expr {
    /* border: 1px solid red; */
}

#calc-output-eval {
    font-weight: normal;
    /* border: 1px solid green; */
    ;
}

.calc-input-row {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.calc-input-row > #brand {
    color: blueviolet;
    text-shadow: 1px 1px grey;
    border: 3px solid blueviolet;
    border-radius: 25px;
    padding: 10px;
    margin: 0 25px;
    font-size: 24px;
    align-self: flex-start;
    flex: 2;
}   

.super {
    vertical-align: super;
    font-size: 18px;
}

button {
    font-size: 48px;
    width: 100px;
    background-color: lightgrey;
    outline: 2px solid black;
    border-radius: 15%;
}

button.operator {
    background-color: lightcoral;
}

button.hidden {
    background-color: unset;
    border: none;
    outline: none;
}

button.hidden:active {
    border: unset;
}

button:active {
    border: 1px solid black;
}

footer {
    background-color: gray;
    padding: 5px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}